.env
BlindAuras_Main.lua
BlindAuras_Options.lua
BlindAuras_Templates.lua
BlindAuras/Libs/*
!BlindAuras/Libs/LibDeflate
format.bat
**/desktop.ini
.DS_Store
.release
.install
.lua/*
.vscode
CHANGELOG.MD
